<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <h1>Weather Detection</h1>
    <form action="/submit" method="POST">
        <input type="text" name="city" placeholder="Enter City Name" required/>
        <input id="button" type="button" value="submit"/>
    </form>
    <% if (locals.data) { %>
        <h2><%= data %></h2>
    <% } %>
    
    <%const d = new Date();%>
    <footer>Copyright ©<%= d.getFullYear(); %></footer>
    <script>
        $("#button").on("click", function () {
            $("form").submit();
        });
    </script>
</body>
</html>